@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    height: 100%;
    overflow: hidden;
    overscroll-behavior: none;
    -webkit-text-size-adjust: 100%;
    touch-action: manipulation;
  }

  body {
    margin: 0;
    height: 100%;
    min-height: -webkit-fill-available;
    overflow: hidden;
    overscroll-behavior: none;
    touch-action: manipulation;
    display: flex;
    flex-direction: column;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    -webkit-font-smoothing: antialiased;
    @apply font-sans text-sm text-slate-900 bg-surface-light dark:bg-surface-dark dark:text-zinc-100;
  }

  #root {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    width: 100%;
    overflow: hidden;
    max-width: 100%;
  }

  @media (max-width: 599px) {
    textarea {
      font-size: 16px;
    }
  }
}
